{% extends "layout.html" %}
{% block content %}

<form method="POST" action="{{ url_for('add_item') }}">
  <section class="TODO">

    <label for="Name">Name</label>
    <input type="text" name="Name" id="Name" required />

    <label for="Brand">Brand</label>
    <input type="text" name="Brand" id="Brand" />

    <h4>Dietary Restrictions</h4>
    <label for="kosher">Kosher</label>
    <input type="checkbox" id="kosher" name="dietary_restrictions" value="kosher" />
    <label for="halal">Halal</label>
    <input type="checkbox" id="halal" name="dietary_restrictions" value="halal" />
    <label for="vegetarian">Vegetarian</label>
    <input type="checkbox" id="vegetarian" name="dietary_restrictions" value="vegetarian" />
    <label for="vegan">Vegan</label>
    <input type="checkbox" id="vegan" name="dietary_restrictions" value="vegan" />

    <h4>Allergens</h4>
    <label for="dairy">Dairy</label>
    <input type="checkbox" id="dairy" name="allergens" value="dairy" />
    <label for="eggs">Eggs</label>
    <input type="checkbox" id="eggs" name="allergens" value="eggs" />
    <label for="fish">Fish</label>
    <input type="checkbox" id="fish" name="allergens" value="fish" />
    <label for="shellfish">Shellfish</label>
    <input type="checkbox" id="shellfish" name="allergens" value="shellfish" />
    <label for="tree_nuts">Tree Nuts</label>
    <input type="checkbox" id="tree_nuts" name="allergens" value="tree_nuts" />
    <label for="peanuts">Peanuts</label>
    <input type="checkbox" id="peanuts" name="allergens" value="peanuts" />
    <label for="wheat">Wheat</label>
    <input type="checkbox" id="wheat" name="allergens" value="wheat" />
    <label for="soybeans">Soybeans</label>
    <input type="checkbox" id="soybeans" name="allergens" value="soybeans" />
    <label for="sesame">Sesame</label>
    <input type="checkbox" id="sesame" name="allergens" value="sesame" />

  </section>
</form>



{% endblock %}