table{
    width:100%;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
.error{
    color: red;
}
.low{
    background-color:red;
}
.medium{
    background-color: yellow;
}
.high{
    background-color: green;
}